<script src="http://d3js.org/d3.v4.min.js"></script>
<script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>

<h3>Number of Reservations by Month</h3>

<div id="monthContainer">
  <script type="/assets/javascripts/reservations_month.js"></script>
</div>

<h3>Reservation Revenue by Month</h3>
<div id="chartContainer">
  <script type="/assets/javascripts/reservations_revenue.js"></script>
</div>

<h3>Properties by State</h3>
<div id="mapContainer">
  <!-- <script type="/assets/javascripts/property_map.js"></script> -->
  <div id="tooltip"></div><!-- div to hold tooltip. -->
  <svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
  <script type="/assets/javascripts/uStates.js"></script>

</div>
