---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/NY/new_york.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 30 May 2017 21:50:09 GMT
      X-Creationtime:
      - '0.072'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"New York, NY\",\n\t\t\"city\":\"New York\",\n\t\t\"state\":\"NY\",\n\t\t\"state_name\":\"New
        York\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"10001\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"40.75000000\",\n\t\t\"longitude\":\"-74.00000000\",\n\t\t\"elevation\":\"11.0\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Chelsea, West 28th St., New York, New York\",\n\t\t\"city\":\"Chelsea,
        West 28th St., New York\",\n\t\t\"state\":\"New York\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"40.746910\",\n\t\t\"longitude\":\"-73.992836\",\n\t\t\"elevation\":\"110
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KNYNEWYO395\",\n\t\t\"observation_time\":\"Last
        Updated on May 30, 5:50 PM EDT\",\n\t\t\"observation_time_rfc822\":\"Tue,
        30 May 2017 17:50:09 -0400\",\n\t\t\"observation_epoch\":\"1496181009\",\n\t\t\"local_time_rfc822\":\"Tue,
        30 May 2017 17:50:09 -0400\",\n\t\t\"local_epoch\":\"1496181009\",\n\t\t\"local_tz_short\":\"EDT\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0400\",\n\t\t\"weather\":\"Overcast\",\n\t\t\"temperature_string\":\"57.9
        F (14.4 C)\",\n\t\t\"temp_f\":57.9,\n\t\t\"temp_c\":14.4,\n\t\t\"relative_humidity\":\"80%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"West\",\n\t\t\"wind_degrees\":263,\n\t\t\"wind_mph\":0.0,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":0,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1019\",\n\t\t\"pressure_in\":\"30.11\",\n\t\t\"pressure_trend\":\"+\",\n\t\t\"dewpoint_string\":\"52
        F (11 C)\",\n\t\t\"dewpoint_f\":52,\n\t\t\"dewpoint_c\":11,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"57.9
        F (14.4 C)\",\n\t\t\"feelslike_f\":\"57.9\",\n\t\t\"feelslike_c\":\"14.4\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"26\",\n\t\t\"UV\":\"0.0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.05 in (1 mm)\",\n\t\t\"precip_today_in\":\"0.05\",\n\t\t\"precip_today_metric\":\"1\",\n\t\t\"icon\":\"cloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/cloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/NY/New_York.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KNYNEWYO395\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=40.746910,-73.992836\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Tue, 30 May 2017 21:50:44 GMT
[...]
