---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/WY/macgyverville.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Creationtime:
      - '0.008'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\": \"invalidkey\"\n\t\t,\"description\":
        \"this key is not valid due to exceeding rate plan\"\n\t}\n\t}\n}\n"
  recorded_at: Thu, 08 Jun 2017 01:40:07 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/WY/macgyverville.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Creationtime:
      - '0.009'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  }\n\t\t,\n\t\"error\": {\n\t\t\"type\": \"invalidkey\"\n\t\t,\"description\":
        \"this key is not valid due to exceeding rate plan\"\n\t}\n\t}\n}\n"
  recorded_at: Thu, 08 Jun 2017 01:40:07 GMT
recorded_with: VCR 3.0.3
