---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/NY/new_york.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 08 Jun 2017 03:32:04 GMT
      X-Creationtime:
      - '0.074'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"New York, NY\",\n\t\t\"city\":\"New York\",\n\t\t\"state\":\"NY\",\n\t\t\"state_name\":\"New
        York\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"10001\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"40.75000000\",\n\t\t\"longitude\":\"-74.00000000\",\n\t\t\"elevation\":\"11.0\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Chelsea, West 28th St., New York, New York\",\n\t\t\"city\":\"Chelsea,
        West 28th St., New York\",\n\t\t\"state\":\"New York\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"40.746910\",\n\t\t\"longitude\":\"-73.992836\",\n\t\t\"elevation\":\"110
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KNYNEWYO395\",\n\t\t\"observation_time\":\"Last
        Updated on June 7, 11:32 PM EDT\",\n\t\t\"observation_time_rfc822\":\"Wed,
        07 Jun 2017 23:32:00 -0400\",\n\t\t\"observation_epoch\":\"1496892720\",\n\t\t\"local_time_rfc822\":\"Wed,
        07 Jun 2017 23:32:04 -0400\",\n\t\t\"local_epoch\":\"1496892724\",\n\t\t\"local_tz_short\":\"EDT\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0400\",\n\t\t\"weather\":\"Clear\",\n\t\t\"temperature_string\":\"61.5
        F (16.4 C)\",\n\t\t\"temp_f\":61.5,\n\t\t\"temp_c\":16.4,\n\t\t\"relative_humidity\":\"64%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"West\",\n\t\t\"wind_degrees\":277,\n\t\t\"wind_mph\":0.0,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":0,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1017\",\n\t\t\"pressure_in\":\"30.02\",\n\t\t\"pressure_trend\":\"0\",\n\t\t\"dewpoint_string\":\"49
        F (10 C)\",\n\t\t\"dewpoint_f\":49,\n\t\t\"dewpoint_c\":10,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"61.5
        F (16.4 C)\",\n\t\t\"feelslike_f\":\"61.5\",\n\t\t\"feelslike_c\":\"16.4\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"0\",\n\t\t\"UV\":\"0.0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_clear.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/NY/New_York.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KNYNEWYO395\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=40.746910,-73.992836\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Thu, 08 Jun 2017 03:32:37 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/conditions/q/OK/chickasha.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 08 Jun 2017 03:32:37 GMT
      X-Creationtime:
      - '0.044'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\[...]
