
<h3>Cities with the Most Properties</h3>
<div id="citiesPropertiesContainer">
</div>

<h3>Most Expensive Properties Comparison</h3>
<div id="propertyComparisonContainer">
</div>

<h3>Number of Reservations by Month</h3>
<div id="monthContainer">
</div>

<h3>Reservation Revenue by Month (All Cities)</h3>
<div id="chartContainer">
</div>

<h3>Properties by State</h3>
<div id="mapContainer">
  <div id="tooltip"></div><!-- div to hold tooltip. -->
<svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->

</div>


<h3>Revenue by Month for Cities </h3>
<p> Select a City </p>
  <div class = "col-md-9">
    <div id="drop-down">
        <%= select_tag("City", options_for_select(["Houston", "Chicago", "Austin", "Louisville", "Denver"], :selected => params[:city])) %>
        <input class="submit" id="submit" name="ShowRevenue" type="submit" />
    </div>
    <div class="cityRevenueContainer">
    </div>
  </div>
  <br>
  <br>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h3>Revenue breakdown for A User </h3>
<p> Input a User ID </p>
  <div class = "col-md-9">
    <div id="user_revenue">
      <input type="text" name="user_id" placeholder="User ID" class="form-control">
        <input class="submit" id="submit" name="ShowRevenue" type="submit" />
    </div>
    <div class="userRevenueContainer">
    </div>
  </div>
